[submodule "pddlstream"]
	path = pddlstream
	url = https://github.com/caelan/pddlstream

[submodule "assembly_instances"]
	path = assembly_instances
	url = https://github.com/yijiangh/assembly_instances.git
[submodule "conrob_pybullet"]
	path = conrob_pybullet
	url = https://github.com/yijiangh/conrob_pybullet.git
[submodule "conmech"]
	path = conmech
	url = https://github.com/yijiangh/conmech
[submodule "ss-pybullet"]
	path = ss-pybullet
	url = https://github.com/caelan/ss-pybullet.git
[submodule "pyplanners"]
	path = pyplanners
	url = https://github.com/caelan/pyplanners
